<div class="container-fluid">

  <div class="row">
    <div class="lateral-menu">

      <div class="lateral-menu-header">
        <div class="row text-center" aling="center">
          <div class="col-md-12">
            <h1>Bienvenidos</h1>
          </div>
        </div>
      </div>


      <form>
        <div class="lateral-menu-body">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <md-input-container class="col-md-12">
                <input mdInput placeholder="Correo" type="text">
              </md-input-container>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 offset-md-2">
              <md-input-container class="col-md-12">
                <input mdInput placeholder="Contraseña" type="password">
              </md-input-container>
            </div>
          </div>

          <div class="row m-t-5">
            <div class="col-md-8 offset-md-2">
              <button class="col-md-12" type="submit" md-raised-button>INGRESAR</button>
            </div>
          </div>


        </div>
      </form>
    </div>

    <div class="resto-pantalla">
      <md-card>
        <div class="row m-t-5">
          <div class="col-md-8">
            <h1>Sistema de registro de asistencia</h1>
          </div>
        </div>
      </md-card>
    </div>

  </div>

</div>

